<ion-header>

  <ion-navbar color="materialDesign">
    <ion-title>Servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="bordeado" *ngFor="let param of parametros; let indice = index;">
    <img src="./assets/imgs/banner.jpg" />
    <ion-card-content>
      <ion-card-title class="alinearTituloTarjeta">
        <b>{{param.nombre}}</b>
      </ion-card-title>
      <p>
        {{param.descripcion}}
        <!-- Decripción del servicio -->
      </p>
    </ion-card-content>
    <div class="espaciadoDerechoBtn">
      <ion-row>
        <ion-col offset-7 col-5>
          <button ion-button icon-start clear color="botonDetalles" (click)="solicitarServicio(indice)">
            <ion-icon name="md-send"></ion-icon>
            Solicitar
          </button>
        </ion-col>

        <!-- <ion-col col-4>
          <button ion-button icon-start clear color="botonDetalles" (click)="abrirModal(param.detalle)">
            <ion-icon name="md-list"></ion-icon>
            Detalles
          </button>
        </ion-col> -->
      </ion-row>
    </div>
  </ion-card>

</ion-content>