page-listaservicios {

    .alinearTituloTarjeta {
        text-align: center;
    }

    .justificarTextoDescriptivo {
        text-align: justify;
    }

    .footerTarjeta {
        height: 50px;
        width: 100%;
        background-color: rgba(241, 240, 240, 0.808);
        padding: 0px!important;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .distanciaTarjetas {
        margin-bottom: 24px;
    }

    .bordeado {
        border-left: 6px solid rgb(72, 187, 5);
        border-top: 3px solid #dad7d7;
    }

    .espaciadoDerechoBtn {
        margin-right: 15px;
        margin-left: 15px;
        border-top: 1px solid rgba(168, 168, 168, 0.575);
    }

    .col {
        padding: 0px!important;
        float:right;
    }

}
