page-detalle-servicio-creado {

    .icon{
        margin-left: 10px!important;
    }

    .sombreadoCard {
        box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.75);
    }

    .card-header-md {
        padding: 10px 10px 0px 14px;
    }

    .espaciadoLateral {
        margin-left: 20px!important;
    }

}
