<ion-header>
    <ion-navbar color="materialDesign">
        <ion-toolbar>
            <ion-buttons end>
                <button ion-button icon-only color="royal" (click)="cerrarModal()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Servicio solicitado</ion-title>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>

    <div>
        <img style="z-index: -1; position: absolute;" src="/assets/imgs/creada.jpg" alt="imagen no encontrada" width=100%
            height=20%>
    </div>
    <div style="width: 90%; display:table; height: 55px; background-color: rgba(165, 42, 42, 0.993); z-index: 2; margin-top: 22%; margin-right: 5%; margin-left: 5%;">
        <div style="font-size: 18px; color: white; text-align: center; display: table-cell; vertical-align: middle">
            {{detalleServicio.nombre}}
        </div>
    </div>

    <ion-list style="margin-top: 2%">
        <ion-item>
            <ion-icon name="list" item-start></ion-icon>
            {{detalleServicio.descripcion}}
        </ion-item>
        <ion-item>
            <ion-icon name="calendar" item-start></ion-icon>
            {{detalleServicio.fechaSolicitud | formatofecha}}
        </ion-item>
        <ion-item>
            <ion-icon name="pin" item-start></ion-icon>
            {{detalleServicio.direccion }}
        </ion-item>
    </ion-list>

    <ion-item style="background-color: rgba(165, 42, 42, 0.993); color: white">
        <label class="espaciadoLateral">{{tituloCotizaciones}}</label>
        <ion-badge *ngIf="mostrarbadge" item-end color="dark">{{numeroSolicitudes}} cotizaciones</ion-badge>
    </ion-item>
    <br>
    <p *ngIf="mensajeCotizacionesVacias" style="text-align:center;"><b>No se han encontrado cotizaciones</b></p>

    <!-- Propiedades del cliente -->
    <div *ngIf="mostrarAccionesCliente">
        <ion-card class="sombreadoCard" *ngFor="let cotizaciones of listaCotizaciones; let i = index;">
            <ion-card-header>
                <ion-list>
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="/assets/imgs/perfilProveedor3.png">
                        </ion-avatar>
                        <h2>{{cotizaciones.usuarioIdProveedor.nombres}} {{cotizaciones.usuarioIdProveedor.apellidos}}</h2>
                        <p>Proveedor de servicios</p>
                    </ion-item>
                </ion-list>
            </ion-card-header>
            <hr>
            <ion-list>
                <button ion-item>
                    <ion-icon name="calendar" item-start></ion-icon>
                    {{cotizaciones.fechaEstimada | formatofecha}}
                </button>

                <button ion-item>
                    <ion-icon name="logo-usd" item-start></ion-icon>
                    {{cotizaciones.valor}}
                </button>

                <button ion-item>
                    <ion-icon name="alarm" item-start></ion-icon>
                    {{cotizaciones.duracion}} hora(s)
                </button>

            </ion-list>
            <hr>
            <div *ngIf="mostrarBotones">
                <button ion-button icon-start clear color="verdozo" (click)="aceptarCotizacion(i)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    Aceptar
                </button>
                <button ion-button icon-start clear color="danger" (click)="rechazarCotizacion(i)">
                    <ion-icon name="thumbs-down"></ion-icon>
                    rechazar
                </button>
            </div>
        </ion-card>
    </div>


    <!-- Propiedades del proveedor -->
    <ion-card *ngIf="!mostrarAccionesCliente" [formGroup]="formulario" class="sombreadoCard">
        <ion-card-content>
            <p>Ingresa el valor que estimas para llevar a cabo el trabajo solicitado</p>
            <ion-list class="formulario">
                <ion-item class="separado">
                    <ion-input [ngClass]="{mensajeError: (formulario.controls['costoServicio'].invalid && (formulario.controls['costoServicio'].dirty || formulario.controls['costoServicio'].touched))}"
                        formControlName="costoServicio" class="usuarioInput" type="number" placeholder="Costo servicio ($)"
                        minlength="4" maxlength="6"></ion-input>
                </ion-item>
                <div *ngIf="formulario.controls['costoServicio'].invalid && (formulario.controls['costoServicio'].dirty || formulario.controls['costoServicio'].touched)"
                    class="colorMensaje">
                    Error: Campo requerido
                </div>

                <ion-item class="separadoFormulario usuarioInput" [ngClass]="{mensajeError: (formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched))}">
                    <ion-datetime class="" cancelText="Cancelar" doneText="Seleccionar" displayFormat="DD-MM-YYYY"
                        formControlName="fechaSolicitud" placeholder="Fecha estimada" min="2018" max="2018"></ion-datetime>
                </ion-item>
                <div *ngIf="formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched)"
                    class="colorMensaje">
                    Error: Campo requerido
                </div>


                <ion-item class="separadoFormulario usuarioInput" [ngClass]="{mensajeError: (formulario.controls['horaSolicitud'].invalid && (formulario.controls['horaSolicitud'].dirty || formulario.controls['horaSolicitud'].touched))}">
                    <ion-datetime class="" cancelText="Cancelar" doneText="Seleccionar" displayFormat="hh:mm a"
                        pickerFormat="hh:mm A" formControlName="horaSolicitud" placeholder="Hora estimada"></ion-datetime>
                </ion-item>
                <div *ngIf="formulario.controls['horaSolicitud'].invalid && (formulario.controls['horaSolicitud'].dirty || formulario.controls['horaSolicitud'].touched)"
                    class="colorMensaje">
                    Error: Campo requerido
                </div>

                <ion-item class="separado">
                    <ion-input [ngClass]="{mensajeError: (formulario.controls['duracion'].invalid && (formulario.controls['duracion'].dirty || formulario.controls['duracion'].touched))}"
                        formControlName="duracion" class="usuarioInput" type="number" placeholder="Duración (horas)"
                        minlength="1" maxlength="1"></ion-input>
                </ion-item>
                <div *ngIf="formulario.controls['duracion'].invalid && (formulario.controls['duracion'].dirty || formulario.controls['duracion'].touched)"
                    class="colorMensaje">
                    Error: Campo requerido
                </div>

            </ion-list>
        </ion-card-content>
        <hr>
        <button ion-button icon-start clear color="verdozo" (click)="cotizarServicio()">
            <ion-icon name="cash"></ion-icon>
            Cotizar
        </button>
        <!-- <button ion-button icon-start clear color="danger">
            <ion-icon name="thumbs-down"></ion-icon>
            rechazar
        </button> -->
    </ion-card>

</ion-content>