<ion-tabs color="dark" #opcionesApp selectedIndex = "{{indice}}">
  <ion-tab [root]="tab1Root" tabTitle="{{tituloPaginaInicio}}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{tituloPaginaSolicitudes}}" tabIcon="{{iconoServicio}}"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{tituloPaginaConfiguracion}}" tabIcon="md-person"></ion-tab>
</ion-tabs>