<ion-header>

  <ion-navbar color="materialDesign">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Detalle</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{descripcionServicio}}</p>
</ion-content>