<ion-header>
  <ion-navbar color="materialDesign">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Servicios</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-fab left bottom *ngIf="botonGuardarServicio">
    <button (click)="guardarServicios()" ion-fab color="botonDetalles">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-fab>

  <ion-item-group>
    <div *ngFor="let categorias of listaServicios; let i = index">
      <ion-item-divider color="light">{{categorias.nombre}}</ion-item-divider>
      <ion-item *ngFor="let servicios of categorias.servicioList">
        <ion-label>{{servicios.descripcion}}</ion-label>
        <ion-checkbox checked={{servicios.checked}} id="{{servicios.servicioId}}" color="dark" (ionChange)="cambioEstadoCheckBox($event._elementRef.nativeElement.id)"></ion-checkbox>
      </ion-item>
    </div>
  </ion-item-group>
</ion-content>