<ion-header>
  <ion-navbar color="materialDesign">
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div style="height: 30%; width: 100%; background-image: url(/assets/imgs/universe.jpg); background-attachment: fixed;">
    <div style="text-align: center;">
      <img style="margin-top: 100px;" [src]=imagenUsuario alt="imagen no encontrada" width=110 height=110>
    </div>
  </div>

  <ion-list style="margin-top: 15%">
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      {{datosUsuario.nombres}}
    </ion-item>
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      {{datosUsuario.apellidos}}
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
      {{datosUsuario.direccion}}
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" item-start></ion-icon>
      {{datosUsuario.telefono}}
    </ion-item>
    <ion-item>
      <ion-icon name="pulse" item-start></ion-icon>
      {{datosUsuario.estado}}
    </ion-item>
    <button ion-item (click)="cerrarSesion()">
      <ion-icon name="log-out" item-start></ion-icon>
      <div style="color: red"><b>Cerrar Sesión</b></div>
    </button>

  </ion-list>

</ion-content>