<ion-header>

  <ion-navbar color="materialDesign">
    <ion-title>Solicitar servicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="sombreadoTarjeta">
    <ion-card-content>
      <p class="subtitulo">Ingrese los siguientes datos para realizar una solicitud a uno o varios proveedores cercanos</p>
      <br>
      <ion-list [formGroup]="formulario">

        <ion-item class="separadoFormulario">
          <ion-textarea id="textArea" #textAreaSolicitud (keyup)="resize()" maxLength="200" rows="1" [ngClass]="{mensajeError: (formulario.controls['descripcion'].invalid && (formulario.controls['descripcion'].dirty || formulario.controls['descripcion'].touched))}"
            formControlName="descripcion" class="usuarioInput" placeholder="Descripción de la solicitud"></ion-textarea>
        </ion-item>
        <div *ngIf="formulario.controls['descripcion'].invalid && (formulario.controls['descripcion'].dirty || formulario.controls['descripcion'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>

        <ion-item class="separadoFormulario">
          <ion-input [readonly]="SoloLectura()" [ngClass]="{mensajeError: (formulario.controls['direccion'].invalid && (formulario.controls['direccion'].dirty || formulario.controls['direccion'].touched))}"
            formControlName="direccion" class="usuarioInput" type="text" placeholder="Dirección"></ion-input>
        </ion-item>
        <div>
          <!-- Botón de la ventana modal -->
          <button (click)="abrirModal()" class="ubicarBoton" ion-button icon-start color="colorPrimario">
            <ion-icon name="search"></ion-icon>
          </button>
          <div *ngIf="formulario.controls['direccion'].invalid && (formulario.controls['direccion'].dirty || formulario.controls['direccion'].touched)"
            class="colorMensaje">
            Error: Campo requerido
          </div>
        </div>

        <ion-item class="separadoFormulario usuarioInput" [ngClass]="{mensajeError: (formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched))}" >
          <ion-datetime class="" cancelText="Cancelar" doneText="Seleccionar" displayFormat="DD-MM-YYYY" formControlName="fechaSolicitud" placeholder="Fecha solicitud" min="{{fechaActual.anioMinimo}}" max="{{fechaActual.anioMaximo}}"></ion-datetime>
        </ion-item>
        <div *ngIf="formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>


        <ion-item class="separadoFormulario usuarioInput" [ngClass]="{mensajeError: (formulario.controls['horaSolicitud'].invalid && (formulario.controls['horaSolicitud'].dirty || formulario.controls['horaSolicitud'].touched))}" >
          <ion-datetime class="" cancelText="Cancelar" doneText="Seleccionar" displayFormat="hh:mm a" pickerFormat="hh:mm A" formControlName="horaSolicitud" placeholder="Hora solicitud"></ion-datetime>
        </ion-item>
        <div *ngIf="formulario.controls['horaSolicitud'].invalid && (formulario.controls['horaSolicitud'].dirty || formulario.controls['horaSolicitud'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>


        <!-- <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched))}"
            formControlName="fechaSolicitud" class="usuarioInput" type="text" placeholder="fechaSolicitud"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['fechaSolicitud'].invalid && (formulario.controls['fechaSolicitud'].dirty || formulario.controls['fechaSolicitud'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div> -->
      </ion-list>
      <div class="separado ubicacionBotones separadoAbajo">
        <button ion-button color="colorPrimario" (click)="solicitarServicio()">Solicitar</button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>