<ion-header>
  <ion-navbar color="materialDesign">
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Dirección</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-fab left bottom *ngIf="latitud !== ''">
    <button (click)="guardarCoordenadas()" ion-fab color="botonDetalles"><ion-icon name="md-pin"></ion-icon></button>
  </ion-fab>

  <div id="map" style="width: 470px; height: 840px"></div>
  <img class="tamanioImagen" id="imagenIconoUsuario" src="assets/imgs/pinMapa54.png" alt="Archivo no encontrado">
  <ion-list class="posicionarInputBusqueda">
    <ion-item class="">
      <ion-input id="elementoBuscador" #searchAdress maxlength="40" type="text" placeholder="Buscar" (keyup)="buscarDireccion($event)"></ion-input>
    </ion-item>
  </ion-list>
  <button class="ubicarBotonMapas" clear ion-button icon-start color="colorPrimario">
    <ion-icon name="search"></ion-icon>
  </button>
  <input type="hidden" id="enviarResponseMapa" (click)="enviarResponseMapa()">
  <input type="hidden" id="coordenadas" (click)="obtenerCoordenadas()">
  <input type="hidden" id="manejadorDragableMaker" (click)="manejadorDragableMaker()">
  <input type="hidden" id="reverseGeocodeAddress" (click)="reverseGeocodeAddress()">
  <input type="hidden" id="limpiarMarcadoresMapa" (click)="limpiarMarcadoresMapa()">
  

  <ion-list class="posicionarListaBusqueda">
    <button ion-item *ngFor="let direcciones of direccionesObtenidas; let i = index;" (click)="crearMarcadorMapa(direcciones)">
      <p class="textoListaBusqueda">{{direcciones.address.county}}, {{direcciones.address.district}}, {{direcciones.address.street}}</p>
    </button>
  </ion-list>
</ion-content>