// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.colores {
    color:rgb(18, 128, 148);
    font-weight: bold;
    font-size: 34px;
}

.datetime-md{
    padding-left: 10px!important;
}


.usuarioInput {
    border-left: 10px solid rgb(18, 128, 148);
    border-bottom: 1px solid rgb(18, 128, 148)!important;
}

.formulario{
    padding-left: 10px;
    padding-right: 10px;
}

.separado {
    margin-top: 15px;
    border-bottom: 0;
}

.list-md .item-input:last-child {
    border-bottom: 0;
}

.item-md.item-block .item-inner {
    padding-right: 0;
}

.item-md {
    padding-left: 0;
}

.logoIzquierdo {
    margin-top: -40px;
}

.ubicacionBotones {
    float: right;
}

.subtitulo {
    font-size: 16px;
}

.separadoAbajo {
    padding-bottom: 15px;
}

.sombreadoTarjeta {
    box-shadow: 9px 10px 28px -4px rgba(0,0,0,0.57);
}

.sombreadoTarjetaCategorias {
    box-shadow: 2px 7px 10px -3px rgba(0, 0, 0, 0.685);
    border-left: 8px solid rgb(72, 187, 5);
}

.separarTarjetas {
    margin-bottom: 17px;
}

.posicionCentradaTarjeta {
    // position: absolute;
    // top: 40%;
    // left: 60px;
    // right: 90%;
    // // margin: -15% 0 0 -25%;
    // margin: -15% 0 0 -40px;
    margin-top: 32%;
}

.fondoComponente {
    background-image: url("/assets/imgs/negocios.jpg");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    //filter: blur(5px);
    //background-size: 100% 100%;
}

.usuarioSelect {
    border-left: 10px solid rgb(18, 128, 148);
    // border-right: 5px solid rgb(18, 128, 148);
    // background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(18, 128, 148);
}

.separadoFormulario {
    margin-top: 10px;
    border-bottom: 0;
}

.labelSelect {
    margin-left: 5px;
}

.mensajeError {
    border-left: 10px solid rgb(187, 48, 48);
    border-bottom: 2px solid rgb(187, 48, 48);
}

.colorMensaje {
    color: rgb(187, 48, 48);
    font-size: 12px;
}

.ubicarBoton {
    margin-top: -44px;
    float: right;
}

.alert-title {
    color:rgb(9, 82, 95)!important;
}

.alert-md .alert-button .button-inner {
    color: black;
}

.card-title-md {
    font-size: 1.6em;
}