<ion-header>
  <ion-navbar color="materialDesign">
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="separado card-background-page">
  <ion-card (click)="listarServicios(indice)" class="sombreadoTarjetaCategorias separarTarjetas ajusteTarjeta" *ngFor="let item of obtenerValoresCategoria; let indice = index;">
    <img src="/assets/imgs/banner2.png" />
    <div class="card-title">{{item.nombre}}</div>
    <div class="card-subtitle">{{ item.cantidadServicios }} servicios</div>

    <div class="fondoOscuroCard"></div>
    <!-- <div class="card-subtitle">{{ item.descripcion }}</div> -->
  </ion-card>


  <div *ngIf="error.length > 0">
    <div>message: {{error[0]}}</div>
    <div style="color: red; font-weight: bold;">name: {{error[1]}}</div>
    <div>status: {{error[2]}}</div>
    <div>URL: {{error[3]}}</div>
  </div>


</ion-content>