<ion-content padding class="fondoComponente">
  <ion-card class="sombreadoTarjeta posicionCentradaTarjeta" [formGroup]="formulario">
    <ion-card-header class="colores">
      HogarApp
    </ion-card-header>
    <ion-card-content>
      <!-- <p>{{error | json}}</p> -->
      <!-- <p style="color: red">{{exito | json}}</p> -->
      <!-- <p></p> -->
      <p class="subtitulo">Empieza a buscar proveedores que atiendan tus necesidades en el Hogar</p>
      <br>
      <ion-list class="formulario">

        <ion-item class="separado">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['usuario'].invalid && (formulario.controls['usuario'].dirty || formulario.controls['usuario'].touched))}"
            maxlength="40" formControlName="usuario" class="usuarioInput" type="text" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['usuario'].invalid && (formulario.controls['usuario'].dirty || formulario.controls['usuario'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>

        <ion-item class="separado">
          <ion-icon name="heart"></ion-icon>
          <ion-input [ngClass]="{mensajeError: (formulario.controls['contrasenia'].invalid && (formulario.controls['contrasenia'].dirty || formulario.controls['contrasenia'].touched))}"
            maxlength="40" formControlName="contrasenia" class="usuarioInput" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['contrasenia'].invalid && (formulario.controls['contrasenia'].dirty || formulario.controls['contrasenia'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>
      </ion-list>

      <div class="formulario separado ubicacionBotones separadoAbajo">
        <button ion-button color="danger" (click)="registrarUsuario()">Registrarse</button>
        <button ion-button color="colorPrimario" (click)="goVistaPrincipal()">Iniciar</button>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>