<ion-header>

  <ion-navbar color="materialDesign">
    <ion-title>Proveedores cercanos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab left bottom>
    <button (click)="notificarTodosProveedores()" ion-fab color="danger">
      <ion-icon name="logo-buffer"></ion-icon>
    </button>
  </ion-fab>
  <div id="map" style="width: 470px; height: 840px"></div>
  <!-- <img class="tamanioImagen" id="imagenIconoUsuario" src="assets/imgs/" alt="Archivo no encontrado"> -->
  <img class="tamanioImagen" id="imagenIconoUsuario" src="assets/imgs/proveedor.png" alt="Archivo no encontrado">
  <input type="hidden" id="tarjetaProveedor" (click)="tarjetaProveedor()">
</ion-content>