page-proveedor-cercano {
    .tamanioImagen {
        height: 10px;
        width: 10px;
        display: none;
    }

    .posicionarListaBusqueda {
        position: absolute;
        z-index: 1;
        top: 12%;
        width: 90%;
        margin-left: 5%;
        box-shadow: 2px 7px 10px -3px rgba(0, 0, 0, 0.562);
    }
    .textoListaBusqueda {
        margin-left: 10px;
    }

    #map {
        position: fixed;
    }
}
