<ion-content padding class="fondoConfiguracion">
  <ion-card class="sombreadoTarjeta posicionCentradaTarjeta" [formGroup]="formulario">
    <ion-card-header class="colores">
      Configuración
    </ion-card-header>
    <ion-card-content>
      <p class="subtitulo">Configuración del puerto y la dirección IP</p>
      <br>
      <ion-list class="formulario">

        <ion-item class="separado">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['ip'].invalid && (formulario.controls['ip'].dirty || formulario.controls['ip'].touched))}" maxlength="40" formControlName="ip" class="usuarioInput" type="text" placeholder="Dirección IP"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['ip'].invalid && (formulario.controls['ip'].dirty || formulario.controls['ip'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>

        <ion-item class="separado">
          <ion-icon name="heart"></ion-icon>
          <ion-input [ngClass]="{mensajeError: (formulario.controls['puerto'].invalid && (formulario.controls['puerto'].dirty || formulario.controls['puerto'].touched))}" maxlength="40" formControlName="puerto" class="usuarioInput" type="text" placeholder="Puerto"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['puerto'].invalid && (formulario.controls['puerto'].dirty || formulario.controls['puerto'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>
      </ion-list>

      <div class="formulario separado ubicacionBotones separadoAbajo">
          <button ion-button color="danger" (click)="regresarInicioSesion()">Regresar</button>
          <button ion-button color="colorPrimario" (click)="asignarConfiguacion()">Asignar</button>
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>