page-administrador {

    .fondoConfiguracion {
        background-image: url("/assets/imgs/cosmos.jpg");
        background-repeat: no-repeat;
        background-attachment: initial;
        background-size: cover;
    }

}
