<ion-header>
  <ion-navbar color="materialDesign">
    <ion-title>
      {{tituloPrincipal}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="separado card-background-page">

  <div *ngIf="sinSolicitudes" style="height: 100%; width: 100%;">
    <img style="opacity: 0.3; display: block; margin: auto; margin-top: 10%;" src="/assets/imgs/robot.png" alt="No se encontró el recurso"
      width=200 height=270>
    <p style="font-size: 17px; color: rgba(129, 128, 128, 0.452); text-align: center;">No se han realizado {{tipoSolicitudCotizacion}}</p>
  </div>

  <!-- <ion-card (click)="listarServicios(indice)" class="sombreadoTarjetaCategorias separarTarjetas ajusteTarjeta" *ngFor="let item of obtenerValoresCategoria; let indice = index;"> --->
  <div *ngIf="!sinSolicitudes">
    <!-- <p>{{listaSolicitudes | json}}</p> -->
    <ion-card (click)="abrirDetalleSolicitudCreada(i)" class="sombreadoTarjetaSolicitudCliente separarTarjetas ajusteTarjeta" *ngFor="let solicitud of listaSolicitudes; let i = index;">
      <img src="/assets/imgs/creada.jpg" />
      <div class="card-title">{{solicitud.servicioId.nombre}}</div>
      <div class="card-subtitle">{{solicitud.fechaSolicitud | formatofecha}}</div>
      <div class="fondoOscuroCard"></div>
      <!-- <div class="card-subtitle">{{ item.descripcion }}</div> -->
    </ion-card>
  </div>

</ion-content>