page-contact {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 26%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          z-index: 2;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 58%;
          width: 100%;
          color: #fff;
          z-index: 2
        }

        .fondoOscuroCard {
          background-color: rgba(0, 0, 0, 0.226);
          height: 58%;
          width: 86%;
          z-index: 1;
          position: absolute;
          top:20%;
          margin-right: 7%;
          margin-left: 7%;
        }
      
      }

      .sombreadoTarjetaSolicitudCliente {
        box-shadow: 2px 7px 10px -3px rgba(0, 0, 0, 0.685);
        border-left: 12px solid rgb(94, 5, 121);
    }

      .separado {
          margin-top: 15px;
      }

}
