<ion-header>

  <ion-navbar color="materialDesign">
    <ion-title>Datos personales</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card class="sombreadoTarjeta">
    <ion-card-content>
      <p class="subtitulo">Ingresa tus datos personales para empezar a disfrutar de las bondades de HogarApp</p>
      <br>
      <ion-list [formGroup]="formulario">

        <ion-item class="usuarioSelect" [ngClass]="{mensajeError: (formulario.controls['descripcionPerfil'].invalid && (formulario.controls['descripcionPerfil'].dirty || formulario.controls['descripcionPerfil'].touched))}">
          <ion-label class="labelSelect">Tipo usuario</ion-label>
          <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="descripcionPerfil">
            <ion-option value="1">Proveedor</ion-option>
            <ion-option value="2">Cliente</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="formulario.controls['descripcionPerfil'].invalid && (formulario.controls['descripcionPerfil'].dirty || formulario.controls['descripcionPerfil'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>

        <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['nombres'].invalid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched))}"
            formControlName="nombres" class="usuarioInput" type="text" placeholder="Nombres" maxlength="40"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['nombres'].invalid && (formulario.controls['nombres'].dirty || formulario.controls['nombres'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>


        <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched))}"
            formControlName="apellidos" class="usuarioInput" type="text" placeholder="Apellidos" maxlength="40"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched)"
          class="colorMensaje">
          Error: Campo requerido
        </div>


        <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['correo'].invalid && (formulario.controls['correo'].dirty || formulario.controls['correo'].touched))}"
            formControlName="correo" class="usuarioInput" type="text" placeholder="Correo electrónico" maxlength="40"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['correo'].invalid && (formulario.controls['correo'].dirty || formulario.controls['correo'].touched)"
          class="colorMensaje">
          Error: Campo requerido / formato inválido
        </div>

        <ion-item class="separadoFormulario">
          <ion-input [readonly]="SoloLectura()" [ngClass]="{mensajeError: (formulario.controls['direccion'].invalid && (formulario.controls['direccion'].dirty || formulario.controls['direccion'].touched))}"
            formControlName="direccion" class="usuarioInput" type="text" placeholder="Dirección"></ion-input>
        </ion-item>
        <div>
          <!-- Botón de la ventana modal -->
          <button (click)="abrirModal()" class="ubicarBoton" ion-button icon-start color="colorPrimario">
            <ion-icon name="search"></ion-icon>
          </button>
          <div *ngIf="formulario.controls['direccion'].invalid && (formulario.controls['direccion'].dirty || formulario.controls['direccion'].touched)"
            class="colorMensaje">
            Error: Campo requerido
          </div>
        </div>

        <div *ngIf="formulario.value.descripcionPerfil == '1'">
          <ion-item class="separadoFormulario">
            <ion-input [readonly]="SoloLectura()" [ngClass]="{mensajeError: (formulario.controls['servicios'].invalid && (formulario.controls['servicios'].dirty || formulario.controls['servicios'].touched))}"
              formControlName="servicios" class="usuarioInput" type="text" placeholder="Servicios"></ion-input>
          </ion-item>
          <div>
            <!-- Botón de la ventana modal -->
            <button (click)="abrirModalServicios()" class="ubicarBoton" ion-button icon-start color="colorPrimario">
              <ion-icon name="search"></ion-icon>
            </button>
            <div *ngIf="formulario.controls['servicios'].invalid && (formulario.controls['servicios'].dirty || formulario.controls['servicios'].touched)"
              class="colorMensaje">
              Error: Campo requerido
            </div>
          </div>
        </div>


        <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched))}"
            formControlName="telefono" class="usuarioInput" type="number" placeholder="Celular" maxlength="10" minlength="10"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)"
          class="colorMensaje">
          Error: Campo requerido / longitud(10 dígitos)
        </div>

        <ion-item class="separadoFormulario">
          <ion-input [ngClass]="{mensajeError: (formulario.controls['password'].invalid && (formulario.controls['password'].dirty || formulario.controls['password'].touched))}"
            formControlName="password" class="usuarioInput" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <div *ngIf="formulario.controls['password'].invalid && (formulario.controls['password'].dirty || formulario.controls['password'].touched)"
          class="colorMensaje" maxlength="15">
          Error: Campo requerido
        </div>
      </ion-list>


      <div class="separado ubicacionBotones separadoAbajo">
        <button ion-button color="danger" (click)="regresarPaginaPrincipal()">Cancelar</button>
        <button ion-button color="colorPrimario" (click)="enviarDatosPersonales()">Registrar</button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>